<!--<div style="z-index: 100;position: fixed;top:0;left:0;width:100%;height:100%;">-->
    <!--<img src="/content/images/bg1.jpg" style="width:100%;"/>-->
<!--</div>-->
<div style="z-index: 100;position: fixed;top:0;left:0;width:100%;height:100%;background-image: url('/content/images/bg4.jpg');background-size: cover;background-repeat: no-repeat;">
    <div class="login-cover-bg" style="position: fixed;top:0;right:0;left:0;bottom:0;background:rgba(0,0,0,.5);"></div>
    <div class="block-center wd-xxl" style="margin-top: 200px;">
        <!--&lt;!&ndash; START card&ndash;&gt;-->
        <div class="card card-flat" style="background:rgba(86, 78, 78, 0.41) ">
            <div class="card-header text-center bg-transparent">
                <span style="color:#fff;font-size: 20px; border-bottom: 1px #eee solid;padding: 0 15px 10px 15px;">宝田发运预约取号系统</span>
            </div>
            <div class="card-body" style="color:#fff;">
                <!--<p class="text-center py-2">宝田发运预约取号系统</p>-->
                <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
                    <div class="form-group">
                        <label class="username-label" for="username" jhiTranslate="global.form.username.label">Login</label>
                        <input type="text" class="form-control" name="username" id="username" placeholder="{{'global.form.username.placeholder' | translate}}"
                               style="background-color: transparent !important; border: none;border-bottom:1px #fff solid;color:#fff !important;"
                               formControlName="username">
                    </div>
                    <div class="form-group">
                        <label for="password" jhiTranslate="login.form.password">Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="{{'login.form.password.placeholder' | translate}}"
                               style="background-color: transparent !important; border: none;border-bottom:1px #fff solid;color:#fff !important;"
                               formControlName="password">
                    </div>
                    <div class="clearfix">
                        <div class="checkbox c-checkbox float-left mt-0"><label>
                            <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe" checked>
                            <span class="fa fa-check"></span> 记住我</label></div>
                    </div><button class="btn btn-block btn-primary mt-3" type="submit">登录</button>
                </form>
                <!--<p class="pt-3 text-center">Need to Signup?</p><a class="btn btn-block btn-secondary" href="register.html">Register Now</a>-->
            </div>
        </div><!-- END card-->
        <!--<div class="p-3 text-center" style="color:#fff;"><span class="mr-2">&copy;</span><span>2019</span><span class="mr-2 ml-2">-</span><span>宝田发运预约取号系统</span></div>-->
    </div>

</div>
