<div class="wrapper">
    <!-- top navbar-->
    <header *ngIf="title != 'login.title'" class="topnavbar-wrapper">
        <jhi-topbar></jhi-topbar>
    </header>
    <aside *ngIf="title != 'login.title'" class="aside-container">
        <!-- START Sidebar (left)-->
        <div class="aside-inner">
            <router-outlet name="navbar"></router-outlet>
        </div><!-- END Sidebar (left)-->
    </aside><!-- offsidebar-->
    <section class="section-container">
        <!-- Page content-->
        <div class="content-wrapper">
            <div class="row">
                <div class="col-12">
                    <router-outlet></router-outlet>
                    <router-outlet name="popup"></router-outlet>
                </div>
            </div>
            <!--<jhi-main></jhi-main>-->
        </div>
    </section><!-- Page footer-->
    <footer *ngIf="title != 'login.title'" class="footer-container"><span>&copy; 2023 - 宝钢物流海门预约系统</span></footer>
</div><!-- =============== VENDOR SCRIPTS ===============-->
