<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="region">
            <h2><span jhiTranslate="shieldApp.region.detail.title">Region</span> {{region.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="shieldApp.region.name">Name</span></dt>
                <dd>
                    <span>{{region.name}}</span>
                </dd>
                <dt><span jhiTranslate="shieldApp.region.quota">Quota</span></dt>
                <dd>
                    <span>{{region.quota}}</span>
                </dd>
                <dt><span jhiTranslate="shieldApp.region.vipQuota">Vip Quota</span></dt>
                <dd>
                    <span>{{region.vipQuota}}</span>
                </dd>
                <dt><span jhiTranslate="shieldApp.region.startTime">Start Time</span></dt>
                <dd>
                    <span>{{region.startTime}}</span>
                </dd>
                <dt><span jhiTranslate="shieldApp.region.endTime">End Time</span></dt>
                <dd>
                    <span>{{region.endTime}}</span>
                </dd>
                <dt><span jhiTranslate="shieldApp.region.days">Days</span></dt>
                <dd>
                    <span>{{region.days}}</span>
                </dd>
                <dt><span jhiTranslate="shieldApp.region.open">Open</span></dt>
                <dd>
                    <span>{{region.open}}</span>
                </dd>
                <dt><span jhiTranslate="shieldApp.region.autoAppointment">Auto Appointment</span></dt>
                <dd>
                    <span>{{region.autoAppointment}}</span>
                </dd>
                <dt><span jhiTranslate="shieldApp.region.parkingConnectMethod">Parking Connect Method</span></dt>
                <dd>
                    <span jhiTranslate="{{'shieldApp.ParkingConnectMethod.' + region.parkingConnectMethod}}">{{region.parkingConnectMethod}}</span>
                </dd>
                <dt><span jhiTranslate="shieldApp.region.parkId">Park Id</span></dt>
                <dd>
                    <span>{{region.parkId}}</span>
                </dd>
                <dt><span jhiTranslate="shieldApp.region.validTime">Valid Time</span></dt>
                <dd>
                    <span>{{region.validTime}}</span>
                </dd>
                <dt><span jhiTranslate="shieldApp.region.queueQuota">Queue Quota</span></dt>
                <dd>
                    <span>{{region.queueQuota}}</span>
                </dd>
                <dt><span jhiTranslate="shieldApp.region.queueValidTime">Queue Valid Time</span></dt>
                <dd>
                    <span>{{region.queueValidTime}}</span>
                </dd>
                <dt><span jhiTranslate="shieldApp.region.createTime">Create Time</span></dt>
                <dd>
                    <span>{{region.createTime}}</span>
                </dd>
                <dt><span jhiTranslate="shieldApp.region.updateTime">Update Time</span></dt>
                <dd>
                    <span>{{region.updateTime}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/region', region.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
