<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-region-heading" jhiTranslate="shieldApp.region.home.createOrEditLabel">Create or edit a Region</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.region.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           [readOnly]="editForm.get('id').value"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.region.quota" for="field_quota">Quota</label>
                    <input type="number" class="form-control" name="quota" id="field_quota"
                           formControlName="quota"/>
                    <div *ngIf="editForm.get('quota').invalid && (editForm.get('quota').dirty || editForm.get('quota').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('quota').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('quota').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('quota')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.region.vipQuota" for="field_vipQuota">Vip Quota</label>
                    <input type="number" class="form-control" name="vipQuota" id="field_vipQuota"
                           formControlName="vipQuota"/>
                    <div *ngIf="editForm.get('vipQuota').invalid && (editForm.get('vipQuota').dirty || editForm.get('vipQuota').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('vipQuota').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('vipQuota').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('vipQuota')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.region.startTime" for="field_startTime">Start Time</label>
                    <input type="text" class="form-control" name="startTime" id="field_startTime"
                           formControlName="startTime"/>
                    <div *ngIf="editForm.get('startTime').invalid && (editForm.get('startTime').dirty || editForm.get('startTime').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('startTime').errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('startTime').errors.pattern">
                            格式如：06:00
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.region.endTime" for="field_endTime">End Time</label>
                    <input type="text" class="form-control" name="endTime" id="field_endTime"
                           formControlName="endTime"/>
                    <div *ngIf="editForm.get('endTime').invalid && (editForm.get('endTime').dirty || editForm.get('endTime').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('endTime').errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('endTime').errors.pattern">
                            格式如：06:00
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.region.days" for="field_days">Days</label>
                    <input type="text" class="form-control" name="days" id="field_days"
                           formControlName="days"/>

                    <div *ngIf="editForm.get('days').invalid && (editForm.get('days').dirty || editForm.get('days').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('days').errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('days').errors.pattern">
                            格式如：1,2,3,4,5
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.region.open" for="field_open">Open</label>
                    <input type="checkbox" class="form-control" name="open" id="field_open" style="float:left;"
                           formControlName="open"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.region.autoAppointment" for="field_autoAppointment">Auto Appointment</label>
                    <input type="checkbox" class="form-control" name="autoAppointment" id="field_autoAppointment"
                           formControlName="autoAppointment"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.region.parkingConnectMethod" for="field_parkingConnectMethod">Parking Connect Method</label>
                    <select class="form-control" name="parkingConnectMethod" formControlName="parkingConnectMethod" id="field_parkingConnectMethod">
                        <option value="TCP">{{'shieldApp.ParkingConnectMethod.TCP' | translate}}</option>
                        <option value="DATABASE">{{'shieldApp.ParkingConnectMethod.DATABASE' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('parkingConnectMethod').invalid && (editForm.get('parkingConnectMethod').dirty || editForm.get('parkingConnectMethod').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('parkingConnectMethod').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.region.parkId" for="field_parkId">Park Id</label>
                    <input type="text" class="form-control" name="parkId" id="field_parkId"
                           formControlName="parkId"/>

                    <div *ngIf="editForm.get('parkId').invalid && (editForm.get('parkId').dirty || editForm.get('parkId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('parkId').errors.required" jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.region.validTime" for="field_validTime">Valid Time</label>
                    <input type="number" class="form-control" name="validTime" id="field_validTime"
                           formControlName="validTime"/>
                    <div *ngIf="editForm.get('validTime').invalid && (editForm.get('validTime').dirty || editForm.get('validTime').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('validTime').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('validTime').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('validTime')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.region.queueQuota" for="field_queueQuota">Queue Quota</label>
                    <input type="number" class="form-control" name="queueQuota" id="field_queueQuota"
                           formControlName="queueQuota"/>
                    <div *ngIf="editForm.get('queueQuota').invalid && (editForm.get('queueQuota').dirty || editForm.get('queueQuota').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('queueQuota').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('queueQuota').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('queueQuota')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.region.queueValidTime" for="field_queueValidTime">Queue Valid Time</label>
                    <input type="number" class="form-control" name="queueValidTime" id="field_queueValidTime"
                           formControlName="queueValidTime"/>
                    <div *ngIf="editForm.get('queueValidTime').invalid && (editForm.get('queueValidTime').dirty || editForm.get('queueValidTime').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('queueValidTime').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('queueValidTime').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('queueValidTime')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <!--<div class="form-group">-->
                    <!--<label class="form-control-label" jhiTranslate="shieldApp.region.createTime" for="field_createTime">Create Time</label>-->
                    <!--<div class="d-flex">-->
                        <!--<input id="field_createTime" type="datetime-local" class="form-control" name="createTime" formControlName="createTime" placeholder="YYYY-MM-DD HH:mm"/>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="form-control-label" jhiTranslate="shieldApp.region.updateTime" for="field_updateTime">Update Time</label>-->
                    <!--<div class="d-flex">-->
                        <!--<input id="field_updateTime" type="datetime-local" class="form-control" name="updateTime" formControlName="updateTime" placeholder="YYYY-MM-DD HH:mm"/>-->
                    <!--</div>-->
                <!--</div>-->

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
