<div class="row">
    <div class="col-xl-4">
        <div class="card card-default">
            <div class="card-body">
                <a class="text-muted float-right" href="#"><em class="fa fa-arrow-right"></em></a>
                <div class="text-info">整体运行状态</div>
                <div class="text-center py-4">
                    <div class="easypie-chart easypie-chart-lg" data-easypiechart data-percent="70"
                         data-animate="{&quot;duration&quot;: &quot;800&quot;, &quot;enabled&quot;: &quot;true&quot;}"
                         data-bar-color="#23b7e5" data-track-Color="rgba(200,200,200,0.4)" data-scale-Color="false"
                         data-line-width="10" data-line-cap="round" data-size="145"><span>70%</span></div>
                </div>
                <div class="text-center" data-sparkline="" data-bar-color="#23b7e5" data-height="30" data-bar-width="5"
                     data-bar-spacing="2" data-values="5,4,8,7,8,5,4,6,5,5,9,4,6,3,4,7,5,4,7"></div>
            </div>
            <div class="card-body text-center">
                <div class="row">
                    <div class="col-4">
                        <h4 class="m-0 text-warning">32</h4>
                        <p class="m-0 text-warning">排队中</p>
                    </div>
                    <div class="col-4">
                        <h4 class="m-0 text-success">64</h4>
                        <p class="m-0 text-success">预约成功</p>
                    </div>
                    <div class="col-4">
                        <h4 class="m-0 text-info">240</h4>
                        <p class="m-0 text-info">进厂</p>
                    </div>
                </div>
            </div>
            <!--<div class="card-footer">-->
                <!--<p class="text-muted"><em class="fa fa-upload fa-fw"></em><span>This Month</span><span-->
                    <!--class="text-dark">1000 Gb</span></p>-->
            <!--</div>-->
        </div>
    </div>
    <div class="col-xl-8">
        <div class="card card-default">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-lg-4 col-6 text-center">
                        <p>本部</p>
                        <div class="text-center py-4">
                            <div class="easypie-chart easypie-chart-md" data-easypiechart="" data-percent="60"
                                 data-animate="{duration: 800, enabled: true}" data-bar-color="#23b7e5"
                                 data-track-Color="#edf2f6" data-scale-Color="false" data-line-width="2"
                                 data-line-cap="round" data-size="130"><span>60%</span></div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <h4 class="m-0 text-warning">15</h4>
                                <p class="m-0 text-warning">排队中</p>
                            </div>
                            <div class="col-4">
                                <h4 class="m-0 text-success">32</h4>
                                <p class="m-0 text-success">预约成功</p>
                            </div>
                            <div class="col-4">
                                <h4 class="m-0 text-info">120</h4>
                                <p class="m-0 text-info">进厂</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-6 text-center">
                        <p>四期</p>
                        <div class="text-center py-4">
                            <div class="easypie-chart easypie-chart-md" data-easypiechart="" data-percent="30"
                                 data-animate="{duration: 800, enabled: true}" data-bar-color="#f532e5"
                                 data-track-Color="#edf2f6" data-scale-Color="false" data-line-width="2"
                                 data-line-cap="round" data-size="130"><span>30%</span></div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <h4 class="m-0 text-warning">5</h4>
                                <p class="m-0 text-warning">排队中</p>
                            </div>
                            <div class="col-4">
                                <h4 class="m-0 text-success">16</h4>
                                <p class="m-0 text-success">预约成功</p>
                            </div>
                            <div class="col-4">
                                <h4 class="m-0 text-info">68</h4>
                                <p class="m-0 text-info">进厂</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-6 text-center">
                        <p>五期</p>
                        <div class="text-center py-4">
                            <div class="easypie-chart easypie-chart-md" data-easypiechart="" data-percent="50"
                                 data-animate="{duration: 800, enabled: true}" data-bar-color="#7266ba"
                                 data-track-Color="#edf2f6" data-scale-Color="false" data-line-width="2"
                                 data-line-cap="round" data-size="130"><span>50%</span></div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <h4 class="m-0 text-warning">12</h4>
                                <p class="m-0 text-warning">排队中</p>
                            </div>
                            <div class="col-4">
                                <h4 class="m-0 text-success">16</h4>
                                <p class="m-0 text-success">预约成功</p>
                            </div>
                            <div class="col-4">
                                <h4 class="m-0 text-info">52</h4>
                                <p class="m-0 text-info">进厂</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-6">
        <div class="card card-default">
            <div class="card-header">最新预约记录</div>
            <div class="card-body">
                <div class="table-responsive" *ngIf="appointments">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th><span jhiTranslate="global.field.id">ID</span>
                            </th>
                            <th><span jhiTranslate="shieldApp.appointment.licensePlateNumber">License Plate Number</span>
                            </th>
                            <th><span jhiTranslate="shieldApp.appointment.driver">Driver</span>
                            </th>
                            <th><span jhiTranslate="shieldApp.appointment.number">Number</span>
                            </th>
                            <th><span jhiTranslate="shieldApp.appointment.status">Status</span>
                            </th>
                            <th><span jhiTranslate="shieldApp.appointment.region">Region</span>
                            </th>
                            <th><span>时间</span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let appointment of appointments ;trackBy: trackId">
                            <td><a [routerLink]="['/appointment', appointment.id, 'view' ]">{{appointment.id}}</a></td>
                            <td>{{appointment.licensePlateNumber}}</td>
                            <td>{{appointment.driver}}</td>
                            <td>{{appointment.number}}</td>
                            <td>
                        <span class="badge badge-info" *ngIf="appointment.status=='CREATE'"
                              jhiTranslate="{{'shieldApp.AppointmentStatus.CREATE'}}">{{appointment.status}}</span>
                                <span class="badge badge-warning" *ngIf="appointment.status=='WAIT'"
                                      jhiTranslate="{{'shieldApp.AppointmentStatus.WAIT'}}">{{appointment.status}}</span>
                                <span class="badge badge-success" *ngIf="appointment.status=='START'"
                                      jhiTranslate="{{'shieldApp.AppointmentStatus.START'}}">{{appointment.status}}</span>
                                <span class="badge badge-primary" *ngIf="appointment.status=='ENTER'"
                                      jhiTranslate="{{'shieldApp.AppointmentStatus.ENTER'}}">{{appointment.status}}</span>
                                <span class="badge badge-secondary" *ngIf="appointment.status=='LEAVE'"
                                      jhiTranslate="{{'shieldApp.AppointmentStatus.LEAVE'}}">{{appointment.status}}</span>
                            </td>
                            <!--<td>{{appointment.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>-->
                            <!--<td>{{appointment.updateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>-->
                            <!--<td>{{appointment.startTime | date:'yyyy-MM-dd HH:mm'}}</td>-->
                            <!--<td>{{appointment.enterTime | date:'yyyy-MM-dd HH:mm'}}</td>-->
                            <!--<td>{{appointment.leaveTime | date:'yyyy-MM-dd HH:mm'}}</td>-->
                            <td>
                                <div *ngIf="appointment.regionId">
                                    <a [routerLink]="['../region', appointment.regionId , 'view' ]">{{appointment.regionName}}</a>
                                </div>
                            </td>
                            <!--<td>-->
                                <!--{{appointment.userLogin}}-->
                            <!--</td>-->
                            <td>{{appointment.createTime | date:'yyyy-MM-dd HH:mm'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <!-- START bar chart-->
        <div class="card" id="cardChart3">
            <div class="card-header">
                <!-- START button group-->
                <div class="float-right btn-group">
                    <button class="dropdown-toggle dropdown-toggle-nocaret btn btn-secondary btn-sm" type="button"
                            data-toggle="dropdown">2019-05-17 ~ 2019-06-03
                    </button>
                    <div class="dropdown-menu dropdown-menu-right-forced fadeInLeft animated" role="menu"><a
                        class="dropdown-item" href="#">Daily</a><a class="dropdown-item" href="#">Monthly</a><a
                        class="dropdown-item" href="#">Yearly</a></div>
                </div><!-- END button group-->
                <div class="card-title">最近两周运行状态</div>
            </div>
            <div class="card-wrapper">
                <div class="card-body">
                    <div class="chart-bar-stackedv2 flot-chart"></div>
                </div>
            </div>
        </div><!-- END bar chart-->
    </div>
</div>

