<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-appointment-heading" jhiTranslate="shieldApp.appointment.home.createOrEditLabel">Create or edit a Appointment</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!appointment.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.appointment.licensePlateNumber" for="field_licensePlateNumber">License Plate Number</label>
                    <input type="text" class="form-control" name="licensePlateNumber" id="field_licensePlateNumber"
                           formControlName="licensePlateNumber"/>
                    <div *ngIf="editForm.get('licensePlateNumber').invalid && (editForm.get('licensePlateNumber').dirty || editForm.get('licensePlateNumber').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('licensePlateNumber').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.appointment.driver" for="field_driver">Driver</label>
                    <input type="text" class="form-control" name="driver" id="field_driver"
                           formControlName="driver"/>
                    <div *ngIf="editForm.get('driver').invalid && (editForm.get('driver').dirty || editForm.get('driver').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('driver').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.appointment.phone" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                           formControlName="phone"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.appointment.number" for="field_number">Number</label>
                    <input type="number" class="form-control" name="number" id="field_number"
                           formControlName="number"/>
                    <div *ngIf="editForm.get('number').invalid && (editForm.get('number').dirty || editForm.get('number').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('number').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('number')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.appointment.valid" for="field_valid">Valid</label>
                    <input type="checkbox" class="form-control" name="valid" id="field_valid"
                           formControlName="valid"/>
                    <div *ngIf="editForm.get('valid').invalid && (editForm.get('valid').dirty || editForm.get('valid').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('valid').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.appointment.status" for="field_status">Status</label>
                    <select class="form-control" name="status" formControlName="status" id="field_status">
                        <option value="CREATE">{{'shieldApp.AppointmentStatus.CREATE' | translate}}</option>
                        <option value="WAIT">{{'shieldApp.AppointmentStatus.WAIT' | translate}}</option>
                        <option value="START">{{'shieldApp.AppointmentStatus.START' | translate}}</option>
                        <option value="ENTER">{{'shieldApp.AppointmentStatus.ENTER' | translate}}</option>
                        <option value="LEAVE">{{'shieldApp.AppointmentStatus.LEAVE' | translate}}</option>
                        <option value="EXPIRED">{{'shieldApp.AppointmentStatus.EXPIRED' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('status').invalid && (editForm.get('status').dirty || editForm.get('status').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('status').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.appointment.queueNumber" for="field_queueNumber">Queue Number</label>
                    <input type="number" class="form-control" name="queueNumber" id="field_queueNumber"
                           formControlName="queueNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.appointment.vip" for="field_vip">Vip</label>
                    <input type="checkbox" class="form-control" name="vip" id="field_vip"
                           formControlName="vip"/>
                    <div *ngIf="editForm.get('vip').invalid && (editForm.get('vip').dirty || editForm.get('vip').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('vip').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.appointment.createTime" for="field_createTime">Create Time</label>
                    <div class="d-flex">
                        <input id="field_createTime" type="datetime-local" class="form-control" name="createTime" formControlName="createTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.appointment.updateTime" for="field_updateTime">Update Time</label>
                    <div class="d-flex">
                        <input id="field_updateTime" type="datetime-local" class="form-control" name="updateTime" formControlName="updateTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.appointment.startTime" for="field_startTime">Start Time</label>
                    <div class="d-flex">
                        <input id="field_startTime" type="datetime-local" class="form-control" name="startTime" formControlName="startTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.appointment.enterTime" for="field_enterTime">Enter Time</label>
                    <div class="d-flex">
                        <input id="field_enterTime" type="datetime-local" class="form-control" name="enterTime" formControlName="enterTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.appointment.leaveTime" for="field_leaveTime">Leave Time</label>
                    <div class="d-flex">
                        <input id="field_leaveTime" type="datetime-local" class="form-control" name="leaveTime" formControlName="leaveTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.appointment.expireTime" for="field_expireTime">Expire Time</label>
                    <div class="d-flex">
                        <input id="field_expireTime" type="datetime-local" class="form-control" name="expireTime" formControlName="expireTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.appointment.region" for="field_region">Region</label>
                    <select class="form-control" id="field_region" name="regionId" formControlName="regionId">
                        <option *ngIf="!editForm.get('regionId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="regionOption.id" *ngFor="let regionOption of regions; trackBy: trackRegionById">{{regionOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('regionId').invalid && (editForm.get('regionId').dirty || editForm.get('regionId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('regionId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.appointment.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="userId" formControlName="userId">
                        <option *ngIf="!editForm.get('userId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('userId').invalid && (editForm.get('userId').dirty || editForm.get('userId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('userId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
