<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-ship-plan-heading" jhiTranslate="shieldApp.shipPlan.home.createOrEditLabel">Create or edit a Ship Plan</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!shipPlan.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.company" for="field_company">Company</label>
                    <input type="text" class="form-control" name="company" id="field_company"
                           formControlName="company"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.demandedAmount" for="field_demandedAmount">Demanded Amount</label>
                    <input type="number" class="form-control" name="demandedAmount" id="field_demandedAmount"
                           formControlName="demandedAmount"/>
                    <div *ngIf="editForm.get('demandedAmount').invalid && (editForm.get('demandedAmount').dirty || editForm.get('demandedAmount').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('demandedAmount').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('demandedAmount').errors.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('demandedAmount')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.finishAmount" for="field_finishAmount">Finish Amount</label>
                    <input type="number" class="form-control" name="finishAmount" id="field_finishAmount"
                           formControlName="finishAmount"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.remainAmount" for="field_remainAmount">Remain Amount</label>
                    <input type="number" class="form-control" name="remainAmount" id="field_remainAmount"
                           formControlName="remainAmount"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.availableAmount" for="field_availableAmount">Available Amount</label>
                    <input type="number" class="form-control" name="availableAmount" id="field_availableAmount"
                           formControlName="availableAmount"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.shipMethond" for="field_shipMethond">Ship Methond</label>
                    <select class="form-control" name="shipMethond" formControlName="shipMethond" id="field_shipMethond">
                        <option value="LAND">{{'shieldApp.ShipMethod.LAND' | translate}}</option>
                        <option value="AIR">{{'shieldApp.ShipMethod.AIR' | translate}}</option>
                        <option value="WATER">{{'shieldApp.ShipMethod.WATER' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.shipNumber" for="field_shipNumber">Ship Number</label>
                    <input type="text" class="form-control" name="shipNumber" id="field_shipNumber"
                           formControlName="shipNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.endTime" for="field_endTime">End Time</label>
                    <div class="d-flex">
                        <input id="field_endTime" type="datetime-local" class="form-control" name="endTime" formControlName="endTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.createTime" for="field_createTime">Create Time</label>
                    <div class="d-flex">
                        <input id="field_createTime" type="datetime-local" class="form-control" name="createTime" formControlName="createTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.updateTime" for="field_updateTime">Update Time</label>
                    <div class="d-flex">
                        <input id="field_updateTime" type="datetime-local" class="form-control" name="updateTime" formControlName="updateTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.licensePlateNumber" for="field_licensePlateNumber">License Plate Number</label>
                    <input type="text" class="form-control" name="licensePlateNumber" id="field_licensePlateNumber"
                           formControlName="licensePlateNumber"/>
                    <div *ngIf="editForm.get('licensePlateNumber').invalid && (editForm.get('licensePlateNumber').dirty || editForm.get('licensePlateNumber').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('licensePlateNumber').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.driver" for="field_driver">Driver</label>
                    <input type="text" class="form-control" name="driver" id="field_driver"
                           formControlName="driver"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.phone" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                           formControlName="phone"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="userId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.toUser" for="field_toUser">To User</label>
                    <select class="form-control" id="field_toUser" name="toUser" formControlName="toUserId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
