<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2  *ngIf="editForm.get('id').value" >编辑发运计划</h2>
            <h2  *ngIf="!editForm.get('id').value" >创建发运计划</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.company" for="field_company">Company</label>
                    <input type="text" class="form-control" name="company" id="field_company"
                           formControlName="company"/>
                </div>
                <div *ngIf="editForm.get('id').value" class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.applyId" for="field_applyId">Apply Id</label>
                    <input type="number" class="form-control" name="applyId" id="field_applyId"
                           [readOnly]="editForm.get('id').value"
                           formControlName="applyId"/>
                    <div *ngIf="editForm.get('applyId').invalid && (editForm.get('applyId').dirty || editForm.get('applyId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('applyId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('applyId')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div *ngIf="editForm.get('id').value" class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.applyNumber" for="field_applyNumber">Apply Number</label>
                    <input type="text" class="form-control" name="applyNumber" id="field_applyNumber"
                           [readOnly]="editForm.get('id').value"
                           formControlName="applyNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.truckNumber" for="field_truckNumber">Truck Number</label>
                    <input type="text" class="form-control" name="truckNumber" id="field_truckNumber"
                           [readOnly]="editForm.get('id').value"
                           formControlName="truckNumber"/>
                    <div *ngIf="editForm.get('truckNumber').invalid && (editForm.get('truckNumber').dirty || editForm.get('truckNumber').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('truckNumber').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.auditStatus" for="field_auditStatus">Audit Status</label>
                    <!--<input type="number" class="form-control" name="auditStatus" id="field_auditStatus"-->
                           <!--formControlName="auditStatus"/>-->

                    <select class="form-control"  name="auditStatus" formControlName="auditStatus">
                    <option [ngValue]="null"></option>
                    <!--<option [ngValue]="status" *ngFor="let status of allAuditStatus">{{status}}</option>-->
                    <option value="1">待提货</option>
                    <option value="2">已取消</option>
                    <option value="3">已提货</option>
                    </select>

                    <div *ngIf="editForm.get('auditStatus').invalid && (editForm.get('auditStatus').dirty || editForm.get('auditStatus').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('auditStatus').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('auditStatus')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.productName" for="field_productName">Product Name</label>
                    <input type="text" class="form-control" name="productName" id="field_productName"
                           [readOnly]="editForm.get('id').value"
                           formControlName="productName"/>
                    <div *ngIf="editForm.get('productName').invalid && (editForm.get('productName').dirty || editForm.get('productName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('productName').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <!--<div *ngIf="editForm.get('id').value"  class="form-group">-->
                    <!--<label class="form-control-label" jhiTranslate="shieldApp.shipPlan.deliverPosition" for="field_deliverPosition">Deliver Position</label>-->
                    <!--<input type="text" class="form-control" name="deliverPosition" id="field_deliverPosition"-->
                           <!--[readOnly]="editForm.get('id').value"-->
                           <!--formControlName="deliverPosition"/>-->
                    <!--<div *ngIf="editForm.get('deliverPosition').invalid && (editForm.get('deliverPosition').dirty || editForm.get('deliverPosition').touched)">-->
                        <!--<small class="form-text text-danger"-->
                               <!--*ngIf="editForm.get('deliverPosition').errors.required" jhiTranslate="entity.validation.required">-->
                        <!--This field is required.-->
                        <!--</small>-->
                    <!--</div>-->
                <!--</div>-->
                <div *ngIf="!editForm.get('id').value" class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.deliverPosition" for="field_deliverPosition">Deliver Position</label>
                    <select class="form-control" id="field_deliverPosition" name="deliverPosition" formControlName="deliverPosition">
                        <option *ngIf="!editForm.get('deliverPosition').value" [ngValue]="null" selected></option>
                        <option [ngValue]="regionOption.name" *ngFor="let regionOption of regions">{{regionOption.name}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('deliverPosition').invalid && (editForm.get('deliverPosition').dirty || editForm.get('deliverPosition').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('deliverPosition').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div *ngIf="editForm.get('id').value" class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.valid" for="field_valid">Valid</label>
                    <input type="checkbox" class="form-control" name="valid" id="field_valid"
                           formControlName="valid"/>
                    <div *ngIf="editForm.get('valid').invalid && (editForm.get('valid').dirty || editForm.get('valid').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('valid').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div *ngIf="editForm.get('id').value" class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.gateTime" for="field_gateTime">Gate Time</label>
                    <div class="d-flex">
                        <input id="field_gateTime"
                               [readOnly]="editForm.get('id').value"
                               type="datetime-local" class="form-control" name="gateTime" formControlName="gateTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div *ngIf="editForm.get('id').value" class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.leaveTime" for="field_leaveTime">Leave Time</label>
                    <div class="d-flex">
                        <input id="field_leaveTime"
                               [readOnly]="editForm.get('id').value"
                               type="datetime-local" class="form-control" name="leaveTime" formControlName="leaveTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.deliverTime" for="field_deliverTime">Deliver Time</label>
                    <div class="d-flex">
                        <input id="field_deliverTime" type="date" class="form-control" name="deliverTime" formControlName="deliverTime"
                               [readOnly]="editForm.get('id').value"
                               placeholder="YYYY-MM-DD"/>
                    </div>
                </div>
                <div *ngIf="editForm.get('id').value" class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.allowInTime" for="field_allowInTime">Allow In Time</label>
                    <div class="d-flex">
                        <input id="field_allowInTime"
                               [readOnly]="editForm.get('id').value"
                               type="datetime-local" class="form-control" name="allowInTime" formControlName="allowInTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>


                <!--<div *ngIf="editForm.get('id').value" class="form-group">-->
                    <!--<label class="form-control-label" jhiTranslate="shieldApp.shipPlan.createTime" for="field_createTime">Create Time</label>-->
                    <!--<div class="d-flex">-->
                        <!--<input id="field_createTime" type="datetime-local" class="form-control" name="createTime"-->
                               <!--[readOnly]="editForm.get('id').value"-->
                               <!--formControlName="createTime" placeholder="YYYY-MM-DD HH:mm"/>-->
                    <!--</div>-->
                    <!--<div *ngIf="editForm.get('createTime').invalid && (editForm.get('createTime').dirty || editForm.get('createTime').touched)">-->
                        <!--<small class="form-text text-danger"-->
                               <!--*ngIf="editForm.get('createTime').errors.required" jhiTranslate="entity.validation.required">-->
                        <!--This field is required.-->
                        <!--</small>-->
                        <!--<small class="form-text text-danger"-->
                            <!--[hidden]="!editForm.get('createTime').errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">-->
                            <!--This field should be a date and time.-->
                        <!--</small>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="form-control-label" jhiTranslate="shieldApp.shipPlan.updateTime" for="field_updateTime">Update Time</label>-->
                    <!--<div class="d-flex">-->
                        <!--<input id="field_updateTime" type="datetime-local" class="form-control" name="updateTime"-->
                               <!--[readOnly]="editForm.get('id').value"-->
                               <!--formControlName="updateTime" placeholder="YYYY-MM-DD HH:mm"/>-->
                    <!--</div>-->
                    <!--<div *ngIf="editForm.get('updateTime').invalid && (editForm.get('updateTime').dirty || editForm.get('updateTime').touched)">-->
                        <!--<small class="form-text text-danger"-->
                               <!--*ngIf="editForm.get('updateTime').errors.required" jhiTranslate="entity.validation.required">-->
                        <!--This field is required.-->
                        <!--</small>-->
                        <!--<small class="form-text text-danger"-->
                            <!--[hidden]="!editForm.get('updateTime').errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">-->
                            <!--This field should be a date and time.-->
                        <!--</small>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="form-control-label" jhiTranslate="shieldApp.shipPlan.syncTime" for="field_syncTime">Sync Time</label>-->
                    <!--<div class="d-flex">-->
                        <!--<input id="field_syncTime" type="datetime-local" class="form-control" name="syncTime" formControlName="syncTime" placeholder="YYYY-MM-DD HH:mm"/>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="form-group">-->
                    <!--<label class="form-control-label" jhiTranslate="shieldApp.shipPlan.user" for="field_user">User</label>-->
                    <!--<select class="form-control" id="field_user" name="user" formControlName="userId">-->
                        <!--<option [ngValue]="null"></option>-->
                        <!--<option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>-->
                    <!--</select>-->
                <!--</div>-->
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
