<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-ship-plan-heading" jhiTranslate="shieldApp.shipPlan.home.createOrEditLabel">Create or edit a Ship Plan</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.company" for="field_company">Company</label>
                    <input type="text" class="form-control" name="company" id="field_company"
                           formControlName="company"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.applyId" for="field_applyId">Apply Id</label>
                    <input type="number" class="form-control" name="applyId" id="field_applyId"
                           formControlName="applyId"/>
                    <div *ngIf="editForm.get('applyId').invalid && (editForm.get('applyId').dirty || editForm.get('applyId').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('applyId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('applyId')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.applyNumber" for="field_applyNumber">Apply Number</label>
                    <input type="text" class="form-control" name="applyNumber" id="field_applyNumber"
                           formControlName="applyNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.truckNumber" for="field_truckNumber">Truck Number</label>
                    <input type="text" class="form-control" name="truckNumber" id="field_truckNumber"
                           formControlName="truckNumber"/>
                    <div *ngIf="editForm.get('truckNumber').invalid && (editForm.get('truckNumber').dirty || editForm.get('truckNumber').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('truckNumber').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.auditStatus" for="field_auditStatus">Audit Status</label>
                    <input type="number" class="form-control" name="auditStatus" id="field_auditStatus"
                           formControlName="auditStatus"/>
                    <div *ngIf="editForm.get('auditStatus').invalid && (editForm.get('auditStatus').dirty || editForm.get('auditStatus').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('auditStatus').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('auditStatus')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.productName" for="field_productName">Product Name</label>
                    <input type="text" class="form-control" name="productName" id="field_productName"
                           formControlName="productName"/>
                    <div *ngIf="editForm.get('productName').invalid && (editForm.get('productName').dirty || editForm.get('productName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('productName').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.deliverPosition" for="field_deliverPosition">Deliver Position</label>
                    <input type="text" class="form-control" name="deliverPosition" id="field_deliverPosition"
                           formControlName="deliverPosition"/>
                    <div *ngIf="editForm.get('deliverPosition').invalid && (editForm.get('deliverPosition').dirty || editForm.get('deliverPosition').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('deliverPosition').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.gateTime" for="field_gateTime">Gate Time</label>
                    <div class="d-flex">
                        <input id="field_gateTime" type="datetime-local" class="form-control" name="gateTime" formControlName="gateTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.leaveTime" for="field_leaveTime">Leave Time</label>
                    <div class="d-flex">
                        <input id="field_leaveTime" type="datetime-local" class="form-control" name="leaveTime" formControlName="leaveTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.deliverTime" for="field_deliverTime">Deliver Time</label>
                    <div class="d-flex">
                        <input id="field_deliverTime" type="datetime-local" class="form-control" name="deliverTime" formControlName="deliverTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.allowInTime" for="field_allowInTime">Allow In Time</label>
                    <div class="d-flex">
                        <input id="field_allowInTime" type="datetime-local" class="form-control" name="allowInTime" formControlName="allowInTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.createTime" for="field_createTime">Create Time</label>
                    <div class="d-flex">
                        <input id="field_createTime" type="datetime-local" class="form-control" name="createTime" formControlName="createTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('createTime').invalid && (editForm.get('createTime').dirty || editForm.get('createTime').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('createTime').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('createTime').errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.updateTime" for="field_updateTime">Update Time</label>
                    <div class="d-flex">
                        <input id="field_updateTime" type="datetime-local" class="form-control" name="updateTime" formControlName="updateTime" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('updateTime').invalid && (editForm.get('updateTime').dirty || editForm.get('updateTime').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('updateTime').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('updateTime').errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="shieldApp.shipPlan.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="userId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
