<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shipPlan">
            <h2><span jhiTranslate="shieldApp.shipPlan.detail.title">Ship Plan</span> {{shipPlan.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="shieldApp.shipPlan.company">Company</span></dt>
                <dd>
                    <span>{{shipPlan.company}}</span>
                </dd>
                <dt><span jhiTranslate="shieldApp.shipPlan.applyId">Apply Id</span></dt>
                <dd>
                    <span>{{shipPlan.applyId}}</span>
                </dd>
                <dt><span jhiTranslate="shieldApp.shipPlan.applyNumber">Apply Number</span></dt>
                <dd>
                    <span>{{shipPlan.applyNumber}}</span>
                </dd>
                <dt><span jhiTranslate="shieldApp.shipPlan.truckNumber">Truck Number</span></dt>
                <dd>
                    <span>{{shipPlan.truckNumber}}</span>
                </dd>
                <dt><span jhiTranslate="shieldApp.shipPlan.auditStatus">Audit Status</span></dt>
                <dd>
                    <span>{{shipPlan.auditStatus}}</span>
                </dd>
                <dt><span jhiTranslate="shieldApp.shipPlan.productName">Product Name</span></dt>
                <dd>
                    <span>{{shipPlan.productName}}</span>
                </dd>
                <dt><span jhiTranslate="shieldApp.shipPlan.deliverPosition">Deliver Position</span></dt>
                <dd>
                    <span>{{shipPlan.deliverPosition}}</span>
                </dd>
                <dt><span jhiTranslate="shieldApp.shipPlan.valid">Valid</span></dt>
                <dd>
                    <span>{{shipPlan.valid}}</span>
                </dd>
                <dt><span jhiTranslate="shieldApp.shipPlan.gateTime">Gate Time</span></dt>
                <dd>
                    <span>{{shipPlan.gateTime}}</span>
                </dd>
                <dt><span jhiTranslate="shieldApp.shipPlan.leaveTime">Leave Time</span></dt>
                <dd>
                    <span>{{shipPlan.leaveTime}}</span>
                </dd>
                <dt><span jhiTranslate="shieldApp.shipPlan.deliverTime">Deliver Time</span></dt>
                <dd>
                    <span>{{shipPlan.deliverTime}}</span>
                </dd>
                <dt><span jhiTranslate="shieldApp.shipPlan.allowInTime">Allow In Time</span></dt>
                <dd>
                    <span>{{shipPlan.allowInTime}}</span>
                </dd>
                <dt><span jhiTranslate="shieldApp.shipPlan.loadingStartTime">Loading Start Time</span></dt>
                <dd>
                    <span>{{shipPlan.loadingStartTime}}</span>
                </dd>
                <dt><span jhiTranslate="shieldApp.shipPlan.loadingEndTime">Loading End Time</span></dt>
                <dd>
                    <span>{{shipPlan.loadingEndTime}}</span>
                </dd>
                <dt><span jhiTranslate="shieldApp.shipPlan.createTime">Create Time</span></dt>
                <dd>
                    <span>{{shipPlan.createTime}}</span>
                </dd>
                <dt><span jhiTranslate="shieldApp.shipPlan.updateTime">Update Time</span></dt>
                <dd>
                    <span>{{shipPlan.updateTime}}</span>
                </dd>
                <dt><span jhiTranslate="shieldApp.shipPlan.syncTime">Sync Time</span></dt>
                <dd>
                    <span>{{shipPlan.syncTime}}</span>
                </dd>
                <dt><span jhiTranslate="shieldApp.shipPlan.tareAlert">Tare Alert</span></dt>
                <dd>
                    <span>{{shipPlan.tareAlert}}</span>
                </dd>
                <dt><span jhiTranslate="shieldApp.shipPlan.leaveAlert">Leave Alert</span></dt>
                <dd>
                    <span>{{shipPlan.leaveAlert}}</span>
                </dd>
                <dt><span jhiTranslate="shieldApp.shipPlan.user">User</span></dt>
                <dd>
                    {{shipPlan.userLogin}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/ship-plan', shipPlan.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
