<div>
    <h2 id="page-heading">
        <span jhiTranslate="shieldApp.gateRecord.home.title">Gate Records</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-gate-record" [routerLink]="['/gate-record/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="shieldApp.gateRecord.home.createLabel">
            Create new Gate Record
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="gateRecords?.length === 0">
        <span jhiTranslate="shieldApp.gateRecord.home.notFound">No gateRecords found</span>
    </div>
    <div class="table-responsive" *ngIf="gateRecords?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="recordType"><span jhiTranslate="shieldApp.gateRecord.recordType">Record Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="truckNumber"><span jhiTranslate="shieldApp.gateRecord.truckNumber">Truck Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="recordTime"><span jhiTranslate="shieldApp.gateRecord.recordTime">Record Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="data"><span jhiTranslate="shieldApp.gateRecord.data">Data</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rid"><span jhiTranslate="shieldApp.gateRecord.rid">Rid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="createTime"><span jhiTranslate="shieldApp.gateRecord.createTime">Create Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="regionId"><span jhiTranslate="shieldApp.gateRecord.regionId">Region Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataMd5"><span jhiTranslate="shieldApp.gateRecord.dataMd5">Data Md 5</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="modifyTime"><span jhiTranslate="shieldApp.gateRecord.modifyTime">Modify Time</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let gateRecord of gateRecords ;trackBy: trackId">
                <td><a [routerLink]="['/gate-record', gateRecord.id, 'view' ]">{{gateRecord.id}}</a></td>
                <td jhiTranslate="{{'shieldApp.RecordType.' + gateRecord.recordType}}">{{gateRecord.recordType}}</td>
                <td>{{gateRecord.truckNumber}}</td>
                <td>{{gateRecord.recordTime | date:'medium'}}</td>
                <td>{{gateRecord.data}}</td>
                <td>{{gateRecord.rid}}</td>
                <td>{{gateRecord.createTime | date:'medium'}}</td>
                <td>{{gateRecord.regionId}}</td>
                <td>{{gateRecord.dataMd5}}</td>
                <td>{{gateRecord.modifyTime | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/gate-record', gateRecord.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/gate-record', gateRecord.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'gate-record', { outlets: { popup: gateRecord.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="gateRecords?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
